fastapi
httpx
numpy
openai
pandas
pytest
python-dotenv
requests
uvicorn
sqlalchemy
email-validator
passlib
bcrypt==3.1.7
python-jose
python-multipart
alembic
gunicorn
httptools
psycopg2-binary==2.9.9
